
   body { background-color: #FFBB8D;}
   h1 { color: #8DFFEC ;text-align: center;}
   p { font-family: verdana; font-size: 20px;}
   h2 { color: purple ; }    
   p { color: #FFFB34 ; }
#secondparagraph { background-color: #C3FFF5 ;}
